.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Die volle Höhe des Bildschirms nutzen */
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}
