.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  background-color: #f5f5f5;
  color: black;
}

.box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.infoGrid {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.current {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
}

.button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.hours {
  display: flex;
  justify-content: space-between;
}

